#home{
display: flex;
min-height: calc(100vh - 91px);
position: relative;
justify-content: space-evenly;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 5%;
    text-align: justify;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #e84393;

}

#cta .descriptio{
    font-size: 1.2 rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: -2;
    width: auto;
    height: auto;
}

#banner img{
    width: 75%;
    height: auto;
}

@media screen and (max-width: 426px)  {
    #dish{
        font-size: 110%;
    }
    #home{
        flex-direction: column;
        min-height: 0;
        margin: 15% 2% 15% 2%;

    }
    #description p{
        width: 100%;
    }
    #cta{
        width: 100%;
    }
    #banner img{
        display: none;
    }

    #nav-list{
        display: none;
    }

    #nav_logo{
        padding: 2%;
    }
    form{
        width: 100%; 
    }   
    #form-container{
        width: 100%; 
    }
}