#home{
display: flex;
min-height: calc(100vh - 91px);
position: relative;
margin: 1%;
justify-content: space-evenly;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #e84393;

}

#cta .descriptio{
    font-size: 1.2 rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: -2;
    width: auto;
    height: auto;
}