@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
section{
    padding: 2%;
}

content{
    display: flex;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e84393;
    border-radius: 12px;
    padding: 1% 2%;
    font-weight: 600;
    font-size: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    text-wrap: nowrap;
    text-decoration: none;
    color: white;
    transition: background-color .3s ease;
}
.btn-default:hover{
    background-color: pink;
}
.social-media-buttons {
    display: flex;
    gap: 18px;
}
.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: opx 0px 12px 4px rgba(0,0,0,0.1);
}
.section-title{
    color: #e84393;
    font-size: 2.187rem;
}
.section-subtitle{
    font-size: 1.563rem;
}

.dish-image{
    width: 100%;
}

#locaConta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 769px) {
    #locaConta{
        flex-direction: column;
    }
    
}

#section_localização{
    align-items: center;
    width: 100%;
}

#section_contact{
    display: flex;
    justify-content: center;
    width: 100%;
}

